Package: rocs-wifi
Version: 1.0
Section: custom
Priority: optional
Architecture: amd64
Maintainer: Jax <ming.li@fftai.com>
Depends: hostapd, dnsmasq
Description: open hotspot for clients to connect to the same network segment as the robot.
