Package: rocs-control
version: 1.4.0.0
Section: custom
Priority: optional
Architecture: all
Maintainer: Jax <ming.li@fftai.com>
Description: Provide support and functionality for control algorithms relevant to robotics
